@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    text-align: center;
}

.headline > h2 {
    font-size: 36px;
    margin-bottom: 0;
    line-height: 1;
}

.headline > p {
    color: gray;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.eachcard {
    flex-basis: 25%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
}

.topcard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.botcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

image {
    padding: 12px 24px;
    background-color: white;
    border: 1px black solid;
    border-radius: 20px;
    font-weight: bold;
}
