<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Subscribe</title>
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
    }
    .subscription {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h1 {
      text-align: center;
      color: #333333;
    }
    p {
      text-align: center;
      margin-bottom: 10px;
      color: #666666;
    }
  </style>
</head>
<body>
<div class="subscription">
<h1>Thank you for choosing Settle!</h1>
<p>Thank you for choosing to stay connected with our marriage website! We are thrilled to have you as part of our
    community.<br><br>

    By subscribing to our newsletter, you will receive the latest updates, valuable resources, and exclusive offers
    related to weddings, venues, prices, locations, photographers, and much more. We are dedicated to helping you make
    your special day truly memorable and stress-free.<br><br>

    Stay tuned for inspiring ideas, expert advice, and helpful tips that will assist you in planning your dream wedding.
    Whether you're seeking inspiration for unique themes, exploring stunning venues, or searching for top-notch vendors,
    we've got you covered.<br><br>

    If you ever have any questions or need assistance, feel free to reach out to our dedicated team. We're here to
    support you throughout your wedding journey.<br><br>

    Once again, thank you for subscribing to our newsletter. We look forward to sharing exciting updates and being a
    part of your wedding planning experience!<br><br>
    <br>
    Warm regards,<br>
    <br>
    Settle</p>
</body>
</html>