{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- couple -->
    <div class="couple">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="titlepage text_align_left">
                        <h2>Our First Couple</h2>
                        <p>Meet Sarah and David, the adventurous couple who found their perfect match through our
                            innovative marriage organization website. Sarah dreamed of a partner who shared her passion
                            for exploration and making a difference, while David sought a companion to inspire and build
                            a future with. Our platform's comprehensive tools and personalized algorithm brought them
                            together, revealing their profound compatibility in values and goals. Supported by our
                            guidance and unwavering commitment to love, Sarah and David's remarkable journey has become
                            an inspiration for others, proving that true love knows no boundaries. Join us and discover
                            your own extraordinary connection today.
                        </p>
                        {% if not request.user.is_authenticated %}
                        <a class="read_more whitebg" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="doi">
                        <figure><img src="{% static 'images/mul.png' %}" alt="#"/></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- couple -->
{% endblock %}
