{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Thank you for subscribing!</h2>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="about_img text_align_center">
                        <a class="read_more" href="{% url 'home-page' %}">Home Page</a>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
